.clearfix::before,
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.comment_cancel {
  position: absolute;
  transform: scale(1.2);
  fill: rgb(209, 209, 209);
  opacity: 50%;
}

.Main_container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}

.right_container {
  width: 80%;
  padding: 16px;
}

@media (max-width: 1024px) {
  .right_container {
    margin: 0 auto;
  }
}

.play_profile>span>h2 {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

/* 상단 구분선 시작*/
.division_line {
  position: relative;
  display: flex;
  margin: 32px 0;
}

.division_line>div {
  background-color: white;
  color: #999999;
  display: inline-block;
  margin-left: 1.5rem;
  z-index: 9;
  padding: 0 4px;
}

.division_line::after {
  content: "";
  display: block;
  position: absolute;
  inset: 50% 0;
  background-color: #999999;
  height: 0.5px;
}

.division_line div a {
  color: #999999;
  text-decoration: none;
  font-size: 14px;
}

.division_line div a:hover {
  color: #2474ff;
}

.division_line div a:nth-child(2) {
  color: #2474ff;
}

.division_line div a:nth-child(2):hover {
  color: #7cacff;
}

/* 상단 구분선 끝 */
.play_wrap_content {
  padding: 4px 16px;
}

.play_wrap_top::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  /* margin: 16px auto; */
  background-color: #eeeeee;
}

.play_top_title {
  margin: 16px 0;
}

.play_title {
  padding: 5px 8px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 12px;
  margin-right: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgb(144, 144, 144);
}

/* 왜 자유게시판에 프로젝트 버튼 css가 있을까유..?우선 여기에서 수정..~ */
.frontend {
  background-color: #2eff55;
  color: #0e3311;
}

.backend {
  background-color: #ff316c;
  color: #ffffff;
}

.db {
  background-color: #b3a1ff;
  color: #500084;
}

.uxui {
  background-color: #71ffff;
  color: #003a47;
}

.fullstack {
  background-color: #247dff;
  color: #ffffff;
}

/*  */
.play_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.play_profile>span>h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 16px 0;
}

.play_profile>span>p {
  font-size: 12px;
  font-weight: bold;
  margin: 12px 0;
  color: #999999;
}

.play_detail_profile {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.profile_text {
  margin-right: 8px;
}

.profile_text>p {
  font-size: 12px;
  margin-bottom: 8px;
  text-align: right;
  color: #999999;
}

.profile_text>h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.profile_pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile_pic img {
  width: 100%;
}

/* profile 끝~! */
.play_content {
  margin: 16px;
  position: relative;
}

/* 댓글 시작 */
.division_line_ant {
  position: relative;
}

.division_line_commant>div {
  position: relative;
  background-color: white;
  color: #999999;
  display: inline-block;
  z-index: 9;
  padding: 0 8px;
}

.division_line_commant::after {
  content: "";
  display: block;
  position: absolute;
  inset: 50% 0;
  background-color: #eeeeee;
  height: 0.5px;
}

.division_line_commant div h4 {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/* 댓글 끝 */


/* 채택하기 버튼 */
.comment_choice button {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  background-color: #ffe839;
  padding: 5px 10px;
  margin-left: 20px;
  box-shadow: 1px 1px 2px rgb(144, 144, 144);
}

.comment_choice_2 button {
  text-decoration: none;
  color: #0a0a0a;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  background-color: #f6f6f6;
  padding: 5px 10px;
  margin-left: 12px;
  box-shadow: 1px 1px 2px rgb(144, 144, 144);
}

/* 댓글박스 */
.comment_list {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 24px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.07);
  line-height: 1.2rem;
  margin-top: 16px;
  position: relative;
  align-items: center;
}

.comment_list>div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #eeeeee;
  margin-top:1%;
}

.play_comment_profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
}

.play_comment_profile span:first-child {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.play_comment_profile span img {
  width: 100%;
  height: 100%;
}

/* .play_comment_profile span:last-child p {
  font-size: 12px;
  margin-bottom: 4px;
  color: #999999;
  line-height: 12px;
} */


/* 댓글 닉네임, 소속 */
.play_comment_profile>span>p {
  font-size: 12px;
  /* margin-top: 8px; */
}

.play_comment_profile>span>h4 {
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}

/* 댓글시간 */
.comment_list div:nth-child(3)>p {
  font-size: 12px;
  font-weight: bold;
  color: #999999;
}

/* 수정삭제 버튼 */

.comment_cancel {
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1.4);
  fill: rgb(209, 209, 209);
  opacity: 60%;
  cursor: pointer;
}

.comment_cancel>svg:hover {
  fill: black;
  transform: scale(1.1);
}

.comment_time_box {
  left: 45px;
}

/* 대댓글 */

.recomment_list_box:hover {
  background-color: rgba(224, 248, 255, 0.59);
}

.recomment_cancel>svg:hover {
  fill: black;
  transform: scale(1.2);
}

.recomment_cancel {
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1.2);
  fill: rgb(29, 50, 244);
  opacity: 50%;
  cursor: pointer;
}

.recomment_list_box {
  width: 95%;
  margin: 8px auto;
  position: relative;
  padding: 20px;
}

.play_recomment_profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}

.play_recomment_profile span:first-child {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.play_recomment_profile span img {
  width: 100%;
  height: 100%;
}

.play_recomment_profile>span>p {
  font-size: 12px;
  /* margin-top: 8px; */
}

.play_recomment_profile>span>h4 {
  font-size: 14px;
  font-weight: bold;
  font-family: sans;
  letter-spacing: -1px;
}

.recomment_button_box {
  font-size: 14px;
}

.recomment_button_box_2 {
  cursor: pointer;
}

.recomment_button_box_2:hover {
  font-weight: bold;
  color: rgb(2, 70, 164);
  display: block;
}

/* 댓글 구분선 */

.division_line_comment {
  position: relative;
  display: flex;
  margin: 32px 0;
}

.division_line_comment>div {
  background-color: white;
  color: #999999;
  display: inline-block;
  /*   margin-left: 1.5rem; */
  z-index: 9;
  padding: 0 4px;
}

.division_line_comment::after {
  content: "";
  display: block;
  position: absolute;
  inset: 50% 0;
  background-color: #999999;
  height: 0.5px;
}

.division_line_comment div a {
  color: #999999;
  text-decoration: none;
  font-size: 14px;
}

.division_line_comment div a:hover {
  color: #2474ff;
}

.division_line_comment div a:nth-child(2) {
  color: #2474ff;
}

.division_line_comment div a:nth-child(2):hover {
  color: #7cacff;
}

/* 수정삭제 버튼 */

.meatball {
  position: absolute;
  right: 0;
  cursor: pointer;
}

/* .meatball > ul {
  position: relative;
} */

.meat_dropdown {
  font-size: 14px;
  position: absolute;
  right: 0;
  box-shadow: 1px 1px 8px gray;
  padding: 4px 8px;
  width: 100px;
  text-align: left;
  border-radius: 8px;
  z-index: 99;
  background-color: white;
}

.meat_dropdown li {
  display: flex;
  align-items: center;
  margin: 8px;
  cursor: pointer;
}

.meat_dropdown svg {
  margin-right: 8px;
}

.meat_dropdown>li:hover svg {
  fill: #1f6cf1;
}

.meat_dropdown>li:hover span {
  color: #1f6cf1;
  font-weight: 600;
}

.meat_dropdown svg {
  width: 1.25rem;
  height: 1.25rem;
}

.profile_img {
  width: 60px;
  height: 60px;
}

.profile_img img {
  width: 100%;
  height: 100%;
}

.anonymous_profile_img {
  border-radius: 50%;
}


/* 댓글 작성 quill버전 css */
.comment_write {
  margin-top: 16px;
}

.comment_write_profile {
  margin-right: 16px;
}

.comment_write_profile img {
  width: 50px;
  height: 50px;
}

.comment_write>div:first-child {
  display: flex;
}


.quillComment_container {
  width: 90%;
}

.submit_btn_group {
  display: flex;
  justify-content: end;
}

.submit_btn_group button {
  text-decoration: none;
  color: #eeeeee;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  background-color: #999999;
  padding: 8px 15px;
  margin-right: 16px;
  margin-top: 10px;
}

.submit_btn_group button:hover {
  background-color: #2474ff;
}

/* 댓글 작성 quill버전 css */

.recomment_content_box>p,
.comment_content_box>p {
  font-family: sans-serif;
  letter-spacing: -1px;
}

.comment_content_box img,
.recomment_content_box img{
  max-width: 100%;
  max-height: 100%;
}