.Navigation {
  display: flex;
  /* max-width: 1320px; */
  margin: 0 auto;
  justify-content: space-around;
  position: fixed;
  z-index: 10;
  align-items: flex-start;
  background: linear-gradient(white 72px, #ffffffee 50px);
  /* border-bottom: 2px solid #999999; */
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  transition-duration: 300ms;
  overflow: hidden;
}
.NavDropdown {
  height: 250px;
}
/* 로그인 이후 로그아웃 버튼에 검정선 생기는 현상 해결 */
button {
  border: none;
}

.Category li a{
  white-space: nowrap;
}

.logo_image {
  /* width: 7%; */
  /* padding: 4px 8px; */
  margin: 8px 16px;
  width: 80px;
}

.logo_image img {
  width: 100%;
}

.Category {
  overflow: hidden;
}

.Category ul {
  display: flex;
  margin: 8px 0;
  text-align: center;
}
/* 
.NavDropdownHover{
  display: flex;
  margin: 8px 0;
  text-align: center;
} */

.Category > ul > li {
  display: inline-block;
  padding: 8px 16px;
  margin: 8px 16px;
}

.Category > ul > li > a {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  font-size: 16px;
}

.nav_hover:hover > a {
  color: #2a72ff;
  transition-duration: 200ms;
}
.form-control {
  border-radius: 20px;
  border: 2px solid #999999;
}
.Member > ul {
  display: flex;
  margin: 4px 0;
}

.Member > ul > li {
  margin: 8px 16px 8px 0;
}

.Member > ul a {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  font-size: 16px;

  border-radius: 10px;
  display: inline-block;
  background-color: #efefef;
  padding: 12px 20px;
}

/* 로그아웃 버튼 태그 ㄱ */
.Member > ul button {
  text-decoration: none;
  color: #333333;
  font-weight: 600;

  border-radius: 10px;
  display: inline-block;
  background-color: #efefef;
  padding: 12px 20px;
}

.Member > ul a {
  text-decoration: none;
  color: #eeeeee;
  font-weight: 600;
  font-size: 16px;

  border-radius: 10px;
  display: inline-block;
  background-color: #2a72ff;
  padding: 12px 20px;
}
/* .Navigation {
  display: flex;
  max-width: 1320px;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  align-items: center;
} */

.logo_image {
  /* width: 7%; */
  /* padding: 4px 8px; */
  margin: 8px 16px;
  width: 80px;
}

.logo_image img {
  width: 100%;
}

.Category > ul > li > a {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  font-size: 16px;
}

.nav_hover:hover > a {
  color: #2a72ff;
  transition-duration: 200ms;
}

/* ===== 카테고리(소) ===== */
.Category ul li ul {
  margin-top: 35px;
  flex-direction: column;
}
.Category ul li ul li a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #999999;
  display: block;
  padding: 12px 0;
  transition-duration: 300ms;
}
.Category ul li ul li a:hover {
  color: #73a1fc;
}

/* .nav_hover:hover .sub_Community{
  display: block;
  transition: display 10s;
}

.sub_Community:hover {
  display: block;
} */

/* .hamburger_content {
  display: none;
  width: 40px;
  height: 40px;
  margin: 8px 16px;
}

.hamburger_content svg {
  width: 100%;
  height: 100%;
} */

.Member_mobile {
  display: none;
}
.hamburger_content {
  display: none;
}
.Member_mobile {
  width: 40px;
  height: 40px;
  /* line-height: 40px; */
  margin: 8px 4px;
  background-color: white;
  float: left;
}
.Member_mobile svg {
  width: 100%;
  height: 100%;
  fill: #999999;
  transition-duration: 200ms;
}

.Member_mobile svg:hover {
  fill: #2a72ff;
}
.hamburger_content {
  width: 40px;
  height: 40px;
  margin: 8px 4px;
  margin-right: 16px;
  background-color: white;
  float: right;
}
.hamburger_content svg {
  width: 100%;
  height: 100%;
  fill: #999999;
  transition-duration: 200ms;
}
.hamburger_content svg:hover {
  fill: #2a72ff;
}

@media (max-width: 768px) {
  .Category > ul {
    display: none;
  }

  .Member > ul {
    display: none;
  }

  .Member_mobile {
    display: block;
  }
  .hamburger_content {
    display: block;
  }

  .aside{
    display: block;
  }
  /* 우선 버튼 출력 막아놓음 */
  .aside_button{
    display: block;
  }

  /* 모바일 화면에서 기존 헤더 메뉴 중복 내려오는 현상 */
  .NavDropdown {
    height: 65px;
  }
}

/* 특정 화면에서 헤더 메뉴 이모지 숨기기 */
@media (max-width: 1225px) {

  .emoji_container{
    display: none;
  }
}


/* 화면 축소시 버튼 글씨내려오는 현상 */
@media (max-width: 1300px) {
  .Member button {
    white-space: nowrap;
  }

  .Member a {
    white-space: nowrap;
  }
}

/* 특정 화면 크기에서 검색창 숨기기 */


@media (max-width: 1150px) {
  .Member input{
    display: none;
  }
}

@media (max-width: 1024px) {
  .Member > ul > li:first-child > button {
    display: none;
  }
  .Member > ul > li:last-child > a {
    display: none;
  }
}


@media (max-width:840px){
  .Member > ul > li {
    display: none;
  }
}

/* 사이드 슬라이드 박스 */
.aside {
  position: fixed;
  top: 0;
  right: -40%;
  width: 40%;
  height: 100vh;
  background-color: white;
  border-left: 2px solid #73a1fc;
  transition-duration: 300ms;
}
.aside a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
}
.aside > ul {
  margin-top: 50px;
}
.aside > ul > li {
  text-align: left;
  padding: 24px 16px;
  display: block;
  transition-duration: 300ms;
  position: relative;
}
.aside ul li:hover {
  background-color: #2a72ff;
  color: #eeeeee;
}
.aside > ul > li > ul {
  display: none;
}
.aside > ul > li:hover > ul {
  position: absolute;
  top: 0;
  right: 100.5%;
  width: 100%;
  background-color: white;
  border-left: 2px solid #2a72ff;
  display: block;
}
.aside ul li ul li a {
  text-align: left;
  padding: 24px 16px;
  display: block;
  transition-duration: 300ms;
}
.aside_button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10%;
  top: 10px;
}
.button_transform {
  transform: translateX(-100%);
}
