.Navigation {
  display: flex;
  max-width: 1320px;
  margin: 0 auto;
  justify-content: space-between;

  background-color: purple;
}
.Category > ul {
  display: flex;
}

.Member > ul {
  display: flex;
}
