/* join.jsx + login.jsx 함께 관리 */
.Join_content_test{
    font-size: 15px;
    margin-top: 3%;
}

.Join_content_box1 {
    width: 30%;
    background-color: #ffffff;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4%;
}

.Join_content_box2 {
    width: 60%
}

.Join_content_box_font {

    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 7%;
}



.Join.logo_image {
    display: inline-block;
    margin-left: 30%;
}

#Join_input_box {
    width: 100px;
}

.Join_radio_box {

    display: inline-block;
    margin-left: 20%;

}

.Join_radio_box2 {

    display: inline-block;
    width: 30px;

}


.Join_radio_box3 {

    display: inline-block;
    width: 20px;

}


.Join_font_box {
    text-align: center;


}

.Join_font_box2 {

    text-align: center;
    display: inline-block;
    vertical-align: middle;
    

}


.Join_font_box3 {

 margin-left: 5%;
 width: 10%;

}

.Join_font_box4 {

    display: inline-block;
    vertical-align: middle;
    justify-content: center;
    margin-bottom: 5%;
    
}

.Join_font_box5 {

    display: inline-block;

    
}

.Join_font_box6 {

    display: inline-block;
    color: rgb(3, 27, 149);
    margin-left: 5%;
    font-size: 80%

    
}

.Join_font_box7 {

    background-color: rgb(229, 229, 229);
    
}