.Container {
  margin: 0 auto;
}

.Main_container {
  max-width: 1320px;
  margin: 30px auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.Wrap_main_imageSlide {
  height: 300px;
  margin-bottom: 30px;
  overflow: hidden;
  margin-top: 4%;
    /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

.right_container {
  width: 80%;
  /* background-color: whitesmoke; */
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .Wrap_main_imageSlide {
    display: none;
  }

  .right_container {
    width: 90%;
    /* background-color: whitesmoke; */
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}

.Main_container_banner {
  width: 100%;
  background-color: #333333;
  height: 230px;
  margin-bottom: 16px;
}

.Main_grid_1 {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.07);
  border-radius: 15px;

}

.Main_grid_1 h3 {
  background-color: #2474ff;
  padding: 16px 24px;
  border-radius: 20px 20px 0 0;
  box-shadow: 1px 1px #a0a0a0;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
  text-align: center;
  text-shadow: -.03em .03em #182642;
}

.Main_grid_detail {
  
  padding: 1px 3px 4px 6px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(228, 228, 228);
  margin: 4%;
}

.Main_grid_detail>h4:hover {
  color: #2474ff;
  cursor: pointer;
}


.Main_grid_detail>h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.Main_grid_detail div p {
  color: #999999;
  font-size: 14px;
}

.Main_grid_profile {
  display: flex;
  justify-content: end;
  width: 30%;
  white-space: nowrap;
}

.Main_grid_subcontent {
  margin-bottom: 8px;
}

.profile_text {
  margin-right: 4px;
}

.profile_text>p {
  font-size: 12px;
  margin-bottom: 4px;
  text-align: right;
}

.profile_text>h4 {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.profile_pic {
  width: 32px;
  height: 32px;
  background-color: #2474ff;
  border-radius: 50%;
}

.Main_grid_2 {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.07);
  border-radius: 15px;
}

.Main_grid_2 h3 {
  background-color: #ff8508;
  padding: 16px 24px;
  border-radius: 20px 20px 0 0;
  box-shadow: 1px 1px #a0a0a0;
  margin-bottom: 24px;
  text-shadow: -.03em .03em #182642;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
}

/* .Main_grid_detail::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #999999;
} */

.Main_grid_right_container {
  max-width: 75%;
  margin-bottom: 12px;
}

.Main_grid_right_container h4 {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile_pic img {
  width: 100%;
  height: 100%;
}

.Wrap_main_imageSlide img{
  object-fit: cover;
  width: 100%;
  height: 300px;
}