.Main_container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  margin-top: 8%;
  /* justify-content: space-between; */
}

/* 상단 구분선 시작*/
.division_line {
  position: relative;
  display: flex;
  margin: 32px 0;
}

.division_line>div {
  background-color: white;
  color: #999999;
  display: inline-block;
  margin-left: 1.5rem;
  z-index: 9;
  padding: 0 4px;
}

.division_line::after {
  content: "";
  display: block;
  position: absolute;
  inset: 50% 0;
  background-color: #999999;
  height: 0.5px;
}

.division_line div a {
  color: #999999;
  text-decoration: none;
  font-size: 14px;
}

.division_line div a:hover {
  color: #2474ff;
}

.division_line div a:nth-child(2) {
  color: #2474ff;
}

.division_line div a:nth-child(2):hover {
  color: #7cacff;
}

/* 컨텐츠 시작 */
.right_main_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 4px 16px;
}

.right_container {
  width: 80%;
  padding: 16px;
}

.Img_slide div {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.Img_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.market_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 12px 0;
}

.market_title>h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: -1px;
}

.market_title>p {
  color: #999999;
  font-size: 14px;
  font-weight: 500;
}

/* 가격 */
.right_main_content>div:nth-child(2)>div>h2 {
  font-size: 40px;
  font-weight: 500;
  margin: 12px 0;
}

.right_main_content>div:nth-child(2)>div>h2>span {
  font-size: 28px;
  font-weight: 600;
}

.right_main_content>div:nth-child(2)>div>h2::after {
  content: "";
  clear: both;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
  margin: 12px 0;
}

/* 프로필 및 조회수, 댓글 */
.market_profile {
  display: flex;
  justify-content: space-between;
}

.market_profile>div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile_img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.profile_img>img {
  width: 100%;
}

.market_profile>div:last-child>p {
  color: #999999;
  font-size: 14px;
  font-weight: 500;
}

.market_profile>div:first-child>div:last-child>p {
  font-size: 14px;
  margin-bottom: 8px;
  text-align: left;
  color: #999999;
}

.market_profile>div:first-child>div:last-child>h5 {
  font-size: 16px;
  /* margin-bottom: 8px; */
  text-align: left;
  color: #000000;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: -1px;
}

.market_right_buttonFlex {
  display: grid;
  align-content: space-between;
}

.market_buttons {
  display: flex;
  justify-content: flex-end;
}

.market_buttons>button {
  padding: 16px 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  margin-left: 16px;
  color: #f1f1f1;
  transition-duration: 200ms;
}

.market_buttons>button:first-child {
  background-color: #e8c32d;
}

.market_buttons>button:first-child:hover {
  background-color: #ffcf11;
}

.market_buttons>button:nth-child(2) {
  background-color: #999999;
}

.market_buttons>button:nth-child(2):hover {
  background-color: #585858;
}

.market_buttons>button:last-child {
  background-color: #ff8c00;
}

.market_buttons>button:last-child:hover {
  background-color: #ff6f0f;
}

.market_content {
  margin: 32px 0;
  padding: 4px 16px;
}

.market_content>h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.market_content>h3::after {
  content: "";
  clear: both;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  margin: 12px 0;
}


/* 댓글 구분선 */

.division_line_comment {
  position: relative;
  display: flex;
  margin: 32px 0;
}

.division_line_comment>div {
  background-color: white;
  color: #999999;
  display: inline-block;
  /*   margin-left: 1.5rem; */
  z-index: 9;
  padding: 0 4px;
}

.division_line_comment::after {
  content: "";
  display: block;
  position: absolute;
  inset: 50% 0;
  background-color: #999999;
  height: 0.5px;
}

.division_line_comment div a {
  color: #999999;
  text-decoration: none;
  font-size: 14px;
}

.division_line_comment div a:hover {
  color: #2474ff;
}

.division_line_comment div a:nth-child(2) {
  color: #2474ff;
}

.division_line_comment div a:nth-child(2):hover {
  color: #7cacff;
}


/* 댓글 작성 quill버전 css */
.comment_write_profile {
  margin-right: 16px;
}

.comment_write_profile img {
  width: 65px;
  height: 65px;
}

.comment_write>div {
  display: flex;
}


.quillComment_container {
  width: 90%;
}

.submit_btn_group {
  display: flex;
  justify-content: end;
}

.submit_btn_group button {
  text-decoration: none;
  color: #eeeeee;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  background-color: #999999;
  padding: 12px 20px;
  margin-right: 16px;
  margin-top: 16px;
}

.submit_btn_group button:hover {
  background-color: #2474ff;
}

.market_buttons button {
  white-space: nowrap;
}


/* 댓글 작성 quill버전 css */
@media (max-width: 1024px) {
  .right_container {
    width: 80%;
    margin: 0 auto;
  }

  .Img_slide div {
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .Img_slide div {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }

  .right_main_content {
    display: flex;
    padding: 4px 16px;
    flex-direction: column;
  }

  .market_right_buttonFlex {
    display: grid;
    align-content: space-between;
    gap: 32px;
  }
  
.market_buttons>button {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
}
}


/* 쪽지보내기 css */

.message_dropdown {
  font-size: 14px;
  position: absolute;
  right: 2%;
  top: 21%;
  box-shadow: 1px 1px 8px gray;
  padding: 4px 8px;
  width: 125px;
  text-align: left;
  border-radius: 8px;
  z-index: 99;
  background-color: white;
}

.message_dropdown li {
  display: flex;
  align-items: center;
  margin: 8px;
  cursor: pointer;
}

.message_dropdown svg {
  margin-right: 8px;
}

.message_dropdown>li:hover svg {
  fill: #1f6cf1;
}

.message_dropdown>li:hover span {
  color: #1f6cf1;
  font-weight: 600;
}

.message_dropdown svg {
  width: 1.25rem;
  height: 1.25rem;
}

.message_modal_input {
  width: 100%;
  height: 200px;
  resize: none;
  border: none;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #999999;
  /* background-color: #f0f9ff; */
  /* box-shadow: 2px 2px 8px #cdcdcd; */
  /* line-height: 1.5rem; */
  background-color: #f0f9ff;
  overflow-y: hidden;
  font-size: 14px;
}

@media (max-width:1024px) {
  .message_dropdown{
    top: 20%;
    right: 12%;
  }
}

/* 쪽지보내기 css */

