.Main_container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 6%;
  /* margin-left: 23%; */
}

.right_container h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 24px;
}

.right_container {
  width: 80%;
  padding: 16px 32px;
}

.right_container>form>div:not(:nth-child(4)) {
  margin-bottom: 24 px;
}

.right_container>h2 {
  font-size: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 16px;
  margin: 16px 0;
}

.market_pic p {
  color: #999999;
  font-size: 14px;
  margin: 12px 0;
}

.market_title input {
  width: 100%;
  resize: none;
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  border: 1px solid #cecfce;
  line-height: 1.7rem;
  font-size: 18px;
}

.input_pic {
  display: flex;
  justify-content: start;
}

.input_pic input {
  width: 100%;
  resize: none;
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  border: 1px solid #cecfce;
  line-height: 1.7rem;
  font-size: 18px;
}

.market_sale {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.market_sale input {
  width: 100%;
  resize: none;
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  border: 1px solid #cecfce;
  line-height: 1.7rem;
  font-size: 18px;
}

.market_sale div {
  width: 40%;
  min-width: 250px;
  margin: 16px 32px 16px 0;
}

.market_sale div input {
  width: 100%;
}

.market_sale div select {
  width: 100%;
  resize: none;
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  border: 1px solid #cecfce;
  line-height: 1.7rem;
  font-size: 18px;
  appearance: none;
  color: #828482;
}

.market_sale div select option {
  font-size: 18px;
  padding: 8px 12px;
  line-height: 1.7rem;
}

.market_content {
  margin-bottom: 24px;
  margin-top: 24px;
}


/* 이미지 업로드 */
.real_upload {
  display: none;
}

.upload_icon {
  width: 100%;
  padding: 30%;
}

.fake_upload {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid #cecfce;
  margin-right: 16px;

  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.fake_upload svg {
  width: 50px;
  height: 50px;
  fill: darkgray;
}

.fake_upload span {
  color: darkgray;
}

.input_pic>img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-right: 16px;
  border-radius: 20px;
  border: 1px solid #cecfce;
  object-fit: cover;
}



/* 작성버튼 css */
.button_group {
  display: flex;
  justify-content: end;
}

.submit_btn {
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  background-color: #efefef;
  padding: 12px 20px;

}

.submit_btn:hover {
  background-color: #2a72ff;
  color: #eeeeee;
}

.cancel_btn {
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  border: 1px;
  display: inline-block;
  background-color: #efefef;
  padding: 12px 20px;
  margin-right: 12px;
}

.cancel_btn:hover {
  background-color: #c1a6a6;
}


/* 작성버튼 css */