.Main_container {
    max-width: 1320px;
    margin: 0 auto;
    width: 80%;
    margin-top: 8%;
    display: flex;
}

.profile_container>h2 ,
.message_container>h2{
    font-size: 24px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 16px;
    margin: 16px 0;
}

.top_container {
    display: flex;
    justify-content: space-between;
}

.right_container h4{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.top_container form input {
    margin-bottom: 24px;
}

.top_container_left {
    width: 40%;
}

.top_container_left>div input {
    margin-bottom: 24px;
}

.top_container_right {
    width: 40%;
    display: grid;
    justify-content: center;
}

.top_container_right h4 {
    text-align: center;
}

/* 프사 css */
.market_pic {
    margin-bottom: 16px;
}

.input_pic {
    display: flex;
    border: 1px solid #cecfce;
    overflow: visible;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
}

.input_pic input {
    width: 100%;
    resize: none;
    border: none;
    border-radius: 10px;
    padding: 12px 16px;
    border: 1px solid #cecfce;
    line-height: 1.7rem;
    font-size: 18px;
}

.input_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.fake_upload {
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    position: absolute;
}

.img_uploads_btn {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: darkgrey;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_uploads_btn svg {
    width: 28px;
    height: 28px;
    fill: white;
}

.real_upload {
    display: none;
}

.preview_img {

    width: 250px;
    height: 250px;
    display: contents;
}

.preview_img img {
    width: 100%;
    height: 100%;
}

/* 프사 css */

.right_container_button {
    background-color: #93DFFF;
    padding: 12px 20px;
    border-bottom: 2px solid #eeeeee;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 32px;
}

.certification_box {
    margin-top: 32px;
}

.certification_box svg {
    fill: #2972FF;
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.certification_box {
    display: flex;
    margin-bottom: 24px;
}

.certification_box h4 {
    margin-bottom: 4px;
}

.certification_box>div>div {
    width: 80%;
}

.certification_box input {
    width: 60%;
}

.bottom_btn_group {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    border-bottom: 2px solid #eeeeee;
}

.bottom_btn_group>button:nth-child(1) {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    background-color: #2972FF;

    border-radius: 10px;
    display: inline-block;
    padding: 12px 30px;
    margin: 0 8px;
}

.bottom_btn_group>button:nth-child(1) p {
    color: white;
}

.bottom_btn_group>button:nth-child(1)+a {
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    font-size: 16px;

    border-radius: 10px;
    display: inline-block;
    border: 2px solid gray;
    padding: 12px 30px;
    margin: 0 8px;
}

.bottom_btn_group button:hover {
    /* background-color: #2a72ff;
    color: #eeeeee;
    transition-duration: 200ms;
    border: 2px solid white; */
}

.nickname_wrapper {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}

.nickname_wrapper div {
    background-color: #93DFFF;
    padding: 8px 6px;
    border-bottom: 2px solid #eeeeee;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 12px;
}

.nickname_modify_wrapper {
    display: flex;
}

.nickname_modify_wrapper button {
    background-color: #93DFFF;
    padding: 8px 6px;
    border-bottom: 2px solid #eeeeee;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 12px;
    white-space: nowrap;
    height: 38px;
}

.nickname_wrapper h5 {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: -1px;
}

.left_container {
    border-right: 2px solid #eee;
    margin-right: 5%;
    width: 20%;
}

.left_container>div{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.left_container svg {
    width: 25px;
    height: 25px;
    fill: #2972FF;
    margin-right: 12px;
}

.left_container h4 {
    font-size: 18px;
    font-weight: bold;
}