.Main_container {

    /* max-width: 70%; */
    width: 65%;
    margin: 0 auto;
    /* display: grid; */
    justify-content: center;
}

.Main_container_box {
    margin-top: 4%;
    width: 60%;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 8%;

}


.Main_container h4 {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
}


.Main_container h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    margin-bottom: 24px;
}


.right_container_button {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 2px solid #eeeeee;
}

.right_container_button a {
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    font-size: 16px;

    border-radius: 10px;
    display: inline-block;
    border: 2px solid gray;
    padding: 12px 20px;
    margin: 0 8px;
}

.right_container_button a:hover {
    background-color: #2a72ff;
    color: #eeeeee;
    transition-duration: 200ms;
    border: 2px solid white;
}

.Main_container_banner {
    width: 100%;
    background-color: #333333;
    height: 230px;
    margin-bottom: 16px;
}

.Main_container_list_detail {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 12px;
}


.right_container>form>p {
    margin-bottom: 8px;
}

.right_container>form>input {
    margin-bottom: 24px;
}

.submit_btn {
    color: #333333;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    display: inline-block;
    background-color: #efefef;
    padding: 12px 20px;
    margin-top: 24px;
    float: right;
}

.submit_btn:hover {
    background-color: #2a72ff;
    color: #eeeeee;
}