.Main_container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  margin-top: 8%;
}

.right_container {
  width: 50%;
  padding: 16px;
  /* text-align: center; */
  margin: 0 auto;
}

.right_container > div:first-child > h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 16px 0;
  text-align: left;
  font-family: sans-serif;
}
.right_container > div {
  position: relative;
  margin: 16px 0;
}
.top_container > div:last-child {
  font-size: 14px;
  font-weight: 500;
}
.top_container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
/* .top_container::after {
  content: "";
  display: block;
  clear: both;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
} */
.top_container_sub {
  display: flex;
  align-items: center;
}

.profile_img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.profile_img img {
  width: 100%;
  height: 100%;
}

.top_container_sub > div:nth-child(2) {
  text-align: left;
}
.top_container_sub > div:nth-child(2) > p:first-child {
  font-size: 14px;
  margin-bottom: 8px;
  color: #999999;
}
.top_container_sub > div:nth-child(2) > p:last-child {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: -1px;
}

.middle_container img {
  max-width: 100%;
}

/* 댓글 시작 */
.division_line_comment {
  position: relative;
}

.division_line_comment > div {
  position: relative;
  background-color: white;
  color: #999999;
  display: inline-block;
  z-index: 9;
  padding: 0 8px;
}

.division_line_comment::after {
  content: "";
  display: block;
  position: absolute;
  inset: 50% 0;
  background-color: #eeeeee;
  height: 0.5px;
}

.division_line_comment div h4 {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/* 댓글 끝 */


/* 수정삭제 버튼 */

.meatball {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.meatball > ul {
  position: relative;
}

.meat_dropdown {
  font-size: 14px;
  position: absolute;
  right: 0;
  box-shadow: 1px 1px 8px gray;
  padding: 4px 8px;
  width: 100px;
  text-align: left;
  border-radius: 8px;
  z-index: 99;
  background-color: white;
}

.meat_dropdown li {
  display: flex;
  align-items: center;
  margin: 8px;
  cursor: pointer;
}

.meat_dropdown svg {
  margin-right: 8px;
}

.meat_dropdown > li:hover svg {
  fill: #1f6cf1;
}

.meat_dropdown > li:hover span {
  color: #1f6cf1;
  font-weight: 600;
}

.meat_dropdown svg {
  width: 1.25rem;
  height: 1.25rem;
}

/* 수정삭제 버튼 */


/* 댓글 작성 quill버전 css */
.comment_write_profile {
  margin-right: 16px;
}

.comment_write_profile img {
  width: 65px;
  height: 65px;
}

.comment_write>div {
  display: flex;
}


.quillComment_container{
  width: 90%;
}

.submit_btn_group {
  display: flex;
  justify-content: end;
}

.submit_btn_group button {
  text-decoration: none;
  color: #eeeeee;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  background-color: #999999;
  padding: 12px 20px;
  margin-right: 16px;
  margin-top: 16px;
}

.submit_btn_group button:hover {
  background-color: #2474ff;
}
/* 댓글 작성 quill버전 css */



