.clearfix::before,
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.comment_cancel {
  position: absolute;
  right: 20px;
  top: 10px;
  transform: scale(1.2);
  fill: rgb(209, 209, 209);
  opacity: 50%;
}

.Main_container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}

.right_container {
  width: 80%;
  padding: 16px;
}

@media (max-width: 1024px) {
  .right_container {
    margin: 0 auto;
  }
}

.right_container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

/* 상단 구분선 시작*/
.division_line {
  position: relative;
  display: flex;
  margin: 32px 0;
}

.division_line > div {
  background-color: white;
  color: #999999;
  display: inline-block;
  margin-left: 1.5rem;
  z-index: 9;
  padding: 0 4px;
}

.division_line::after {
  content: "";
  display: block;
  position: absolute;
  inset: 50% 0;
  background-color: #999999;
  height: 0.5px;
}

.division_line div a {
  color: #999999;
  text-decoration: none;
  font-size: 14px;
}

.division_line div a:hover {
  color: #2474ff;
}

.division_line div a:nth-child(2) {
  color: #2474ff;
}

.division_line div a:nth-child(2):hover {
  color: #7cacff;
}

/* 상단 구분선 끝 */
/* .play_wrap_content {
  padding: 4px 16px;
} */

.play_wrap_top::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  /* margin: 16px auto; */
  background-color: #eeeeee;
}

/* .play_top_title {
  margin: 16px 0;
} */

/* 모집완료 버튼 */

.mem_completed {
  padding: 10px 16px;
  font-weight: bold;
  border-radius: 1px;
  font-size: 16px;
  margin-right: 12px;
  cursor: pointer;
  background-color: rgb(255, 230, 7);
  box-shadow: 1px 1px 2px rgb(144, 144, 144);
  display: inline-block; /* 요소를 인라인 블록 요소로 설정 */
  vertical-align: bottom; /* 아래로 정렬 */
  margin-top: 12px;
}

.play_title {
  padding: 5px 8px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 12px;
  margin-right: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgb(144, 144, 144);
}

/* 왜 자유게시판에 프로젝트 버튼 css가 있을까유..?우선 여기에서 수정..~ */

.findsomeone {
  background-color: #247dff;
  color: #ffffff;
}
.frontend {
  background-color: #c5c5c5;
  color: #000000;
}

.frontend {
  background-color: #2eff55;
  color: #0e3311;
}

.backend {
  background-color: #ff316c;
  color: #ffffff;
}

.db {
  background-color: #b3a1ff;
  color: #500084;
}

.uxui {
  background-color: #71ffff;
  color: #003a47;
}

.fullstack {
  background-color: #f3f90b;
  color: #443807;
}

/*  */
.play_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.play_profile > span > h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 16px 0;
  font-family: sans-serif;
  letter-spacing: -1px;
}

.play_profile > span > p {
  font-size: 14px;
  font-weight: bold;
  margin: 12px 0;
  color: #999999;
}

.play_detail_profile {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.profile_text {
  margin-right: 8px;
}

.profile_text > p {
  font-size: 12px;
  margin-bottom: 6px;
  text-align: right;
  color: #999999;
}

.profile_text > h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  font-family: "Pretendard Variable";
  /* letter-spacing: -1px; */
}
.profile_view > p {
  font-size: 12px;
  text-align: right;
  color: #999999;
  font-family: "Pretendard Variable";
}
.profile_pic {
  width: 50px;
  height: 50px;
  background-color: #2474ff;
  border-radius: 50%;
  overflow: hidden;
}

.profile_pic img {
  width: 100%;
}

/* profile 끝~! */
.play_content {
  margin: 12px;
  position: relative;
}

/* 댓글 시작 */
.division_line_ant {
  position: relative;
}

.division_line_commant > div {
  position: relative;
  background-color: white;
  color: #999999;
  display: inline-block;
  z-index: 9;
  padding: 0 8px;
}

.division_line_commant::after {
  content: "";
  display: block;
  position: absolute;
  inset: 50% 0;
  background-color: #eeeeee;
  height: 0.5px;
}

.division_line_commant div h4 {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/* 댓글 끝 */

/* 댓글박스 */
.comment_list {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 16px;
  background-color: #f0f9ff;
  box-shadow: 2px 2px 1px #d4d4d4;
  line-height: 1.2rem;
  margin-top: 2rem;
  position: relative;
  align-items: center;
}

.play_comment_profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}

.play_comment_profile span:first-child {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.play_comment_profile span img {
  width: 100%;
  height: 100%;
}

/* .play_comment_profile span:last-child p {
  font-size: 12px;
  margin-bottom: 4px;
  color: #999999;
  line-height: 12px;
} */

.comment_list div:nth-child(2) {
  padding: 8px 16px;

  line-height: 1.5rem;
  font-size: 14px;
}

/* 댓글 닉네임, 소속 */
.play_comment_profile > span > p {
  font-size: 12px;
  margin-top: 8px;
}

.play_comment_profile > span > h4 {
  font-size: 16px;
  font-weight: bold;
}

/* 댓글시간 */
.comment_list div:nth-child(3) > p {
  font-size: 14px;
  font-weight: bold;
  color: #999999;
  position: absolute;
  bottom: 12px;
  right: 16px;
}

/* 수정삭제 버튼 */

.meatball {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.meat_dropdown {
  font-size: 14px;
  position: absolute;
  right: 0;
  box-shadow: 1px 1px 8px gray;
  padding: 4px 8px;
  width: 100px;
  text-align: left;
  border-radius: 8px;
  z-index: 99;
  background-color: white;
}

.meat_dropdown li {
  display: flex;
  align-items: center;
  margin: 8px;
}

.meat_dropdown svg {
  margin-right: 8px;
}

.meat_dropdown > li:hover svg {
  fill: #1f6cf1;
}

.meat_dropdown > li:hover span {
  color: #1f6cf1;
  font-weight: 600;
}

.meat_dropdown svg {
  width: 1.25rem;
  height: 1.25rem;
}

/* 수정삭제 버튼 */

/* 댓글 구분선 */

.division_line_comment {
  position: relative;
  display: flex;
  margin: 32px 0;
}

.division_line_comment > div {
  background-color: white;
  color: #999999;
  display: inline-block;
  /*   margin-left: 1.5rem; */
  z-index: 9;
  padding: 0 4px;
}

.division_line_comment::after {
  content: "";
  display: block;
  position: absolute;
  inset: 50% 0;
  background-color: #999999;
  height: 0.5px;
}

.division_line_comment div a {
  color: #999999;
  text-decoration: none;
  font-size: 14px;
}

.division_line_comment div a:hover {
  color: #2474ff;
}

.division_line_comment div a:nth-child(2) {
  color: #2474ff;
}

.division_line_comment div a:nth-child(2):hover {
  color: #7cacff;
}

/* 댓글 구분선 */

/* 댓글 작성 quill버전 css */
.comment_write_profile {
  margin-right: 16px;
}

.comment_write_profile img {
  width: 65px;
  height: 65px;
}

.comment_write > div {
  display: flex;
}

.quillComment_container {
  width: 90%;
}

.submit_btn_group {
  display: flex;
  justify-content: end;
}

.submit_btn_group button {
  text-decoration: none;
  color: #eeeeee;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  background-color: #999999;
  padding: 12px 20px;
  margin-right: 16px;
  margin-top: 16px;
}

.submit_btn_group button:hover {
  background-color: #2474ff;
}
/* 댓글 작성 quill버전 css */

/* 쪽지보내기 css */

.message_dropdown {
  font-size: 14px;
  position: absolute;
  right: 2%;
  top: 21%;
  box-shadow: 1px 1px 8px gray;
  padding: 4px 8px;
  width: 125px;
  text-align: left;
  border-radius: 8px;
  z-index: 99;
  background-color: white;
}

.message_dropdown li {
  display: flex;
  align-items: center;
  margin: 8px;
  cursor: pointer;
}

.message_dropdown svg {
  margin-right: 8px;
}

.message_dropdown > li:hover svg {
  fill: #1f6cf1;
}

.message_dropdown > li:hover span {
  color: #1f6cf1;
  font-weight: 600;
}

.message_dropdown svg {
  width: 1.25rem;
  height: 1.25rem;
}

.message_modal_input {
  width: 100%;
  height: 200px;
  resize: none;
  border: none;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #999999;
  /* background-color: #f0f9ff; */
  /* box-shadow: 2px 2px 8px #cdcdcd; */
  /* line-height: 1.5rem; */
  background-color: #f0f9ff;
  overflow-y: hidden;
  font-size: 14px;
}

@media (max-width: 1024px) {
  .message_dropdown {
    top: 20%;
    right: 12%;
  }
}

/* 쪽지보내기 css */

.send_msg_btn {
  background-color: white;
  border: 2px solid #999999;
  color: #333333;
  text-align: center;
  border-radius: 7px;
  font-size: 12px;
  font-weight: 600;
  padding: 8px;
  /* width: 51%; */
  /* color: white; */
  cursor: pointer;
  /* box-sizing: border-box; */
  margin-left: 4.3rem;
  margin-top: 16px;
  transition-duration: 100ms;
}
.send_msg_btn:hover {
  background-color: #2474ff;
  color: white;
  border: 2px solid #2474ff;
}
