/* playdetail에서 css가져옴 */

.qna_comment_box {
  display: inline-block;
}

.qna_font {
  font-size: 21px;
  font-weight: bold;
  margin-left: 1%;
  color: #999999;
}

.qna_time_box {
  font-size: 12px;
  margin-bottom: 4px;
  color: #999999;
  vertical-align: middle;
  display: inline-block;
}

.qna_space_box {
  display: inline-block;
}

.qna_choice_box {
  /* 요소를 가로로 배치하기 위해 Flexbox를 사용합니다. */
  /* 요소를 세로 중앙 정렬합니다. */
  position: absolute;
  right: 45px;
  top: 70px;
}
/* ============================================================ */

.clearfix::before,
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.Main_container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}

.right_container {
  width: 80%;
  padding: 16px;
}

.right_container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

/* 상단 구분선 시작*/
.division_line {
  position: relative;
  display: flex;
  margin: 20px 0;
}

.division_line > div {
  background-color: white;
  color: #999999;
  display: inline-block;
  margin-left: 1.5rem;
  z-index: 9;
  padding: 0 4px;
}

.division_line::after {
  content: "";
  display: block;
  position: absolute;
  inset: 50% 0;
  background-color: #999999;
  height: 0.5px;
}

.division_line div a {
  color: #999999;
  text-decoration: none;
  font-size: 14px;
}

/* 상단 구분선 끝 */
.play_wrap_content {
  padding: 4px 16px;
}

.play_top_title {
  margin: 16px 0;
}

.play_title {
  padding: 5px 8px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 12px;
  margin-right: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgb(144, 144, 144);
}

.develope {
  background-color: #ff6d00;
  color: #551a01;
}

.study {
  background-color: #247dff;
  color: #ffffff;
}

.job {
  background-color: #ff78f5;
  color: #4f0051;
}

.life {
  background-color: #00ffaa;
  color: #103a27;
}
.others {
  background-color: #F3F90B;
  color: #443807;
}

.play_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: px 0;
}

.play_profile2 {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.play_profile > span > h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 8px 0;
  display: inline-block;
  vertical-align: middle;
  font-family: sans-serif;
  letter-spacing: -1px;
}

.play_profile > span > p {
  font-size: 14px;
  font-weight: bold;
  margin: 8px 0;
  color: #999999;
}

.play_detail_profile {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.profile_text {
  margin-right: 8px;
}

.profile_text > p {
  font-size: 12px;
  margin-bottom: 4px;
  text-align: left;
  color: #999999;
}

.profile_text > h4 {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.profile_pic {
  width: 40px;
  height: 40px;
  background-color: #4f8fff;
  border-radius: 50%;
  margin-right: 5px;
}

.play_profile > div > span:nth-child(2) p {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  color: #999999;
}

/* profile 끝~! */
.play_content {
  padding: 16px;
  position: relative;
}


/* 댓글 시작 */
.division_line_ant {
  position: relative;
}

.division_line_comment{
  position: relative;
    display: flex;
    margin: 32px 0;
    
}

.division_line_comment > div {
  position: relative;
  background-color: white;
  color: #999999;
  display: inline-block;
  z-index: 9;
  padding: 0 8px;
}

.division_line_comment::after {
  content: "";
  display: block;
  position: absolute;
  inset: 50% 0;
  background-color: #999999;
  height: 0.5px;
}

.division_line_comment div h4 {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
/* 댓글 끝 */



.meatball {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.meat_dropdown {
  font-size: 14px;
  position: absolute;
  right: 0;
  box-shadow: 1px 1px 8px gray;
  padding: 4px 8px;
  width: 100px;
  text-align: left;
  border-radius: 8px;
}

.meat_dropdown li {
  margin: 8px;
  cursor: pointer;
}

/* 리댓 */


/* 댓글 작성 quill버전 css */
.comment_write_profile {
  margin-right: 16px;
}

.comment_write_profile img {
  width: 65px;
  height: 65px;
}

.comment_write>div {
  display: flex;
}


.quillComment_container{
  width: 90%;
}

.submit_btn_group {
  display: flex;
  justify-content: end;
}

.submit_btn_group button {
  text-decoration: none;
  color: #eeeeee;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  background-color: #999999;
  padding: 12px 20px;
  margin-right: 16px;
  margin-top: 16px;
}

.submit_btn_group button:hover {
  background-color: #2474ff;
}
/* 댓글 작성 quill버전 css */


