.Qna_content_box1 {
    width: 60%;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4%;
}

.Qna_content_box2 {
    width: 80%;
    background-color: #ffffff;

}

.Qna_content_box_font h2 {

    font-size: 24px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 16px;
    margin: 16px 0;
}

.Qna_button_box {

    margin-top: 8px;
    text-align: right;
}



.Qna_button_container {

    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    border: 0px;
    padding: 12px 20px;
    margin-right: 16px;
    margin-bottom: 24px;
}

.Qna_space_box {

    display: inline-block;
    margin-right: 3%;
}

.Qna_content_box2 h4 {

    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.submit_btn {
    color: #333333;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    display: inline-block;
    background-color: #efefef;
    padding: 12px 20px;
    float: right;
    margin-top: 12px;
    margin-left: 8px
}

.submit_btn:hover {
    background-color: #2a72ff;
    color: #eeeeee;
}