.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  /* height: 600px; */
  margin: 0px;
  position: relative;
  border-radius: 0 0 0.375rem 0.375rem;
}

.ql-snow .ql-editor img {
  max-width: 800px;
}

.ql-toolbar.ql-snow {
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  height: 100%;
  padding: 8px;
  border-radius: 0.375rem 0.375rem 0 0;
  height: 7%;
}

.ql-container.ql-snow{
  height: 93%;
}

.ql-editor strong {
  font-weight: bold;
}

.ql-editor em {
  font-style: italic;
}