.Main_container {
    width: 45%;
    margin: 0 auto;
    padding-bottom: 16px;
    margin-top: 8%;
}

.Main_container>h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 16px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 12px;
}

.Main_container>form>input {
    margin-bottom: 24px;
}

.position_content>button {
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    border: 0px;
    padding: 12px 20px;
    margin-right: 16px;
    margin-bottom: 12px;
}


.second_block>div {
    /* width: 450px; */
    width: 48%;
    display: inline-grid;
    margin: 12px 12px 12px 0;

}

.space_box_1 {

    margin-bottom: 12px;
}



@media (max-width:1087px) {
    .second_block>div {
        width: 100%;
    }
    .Main_container{
        width:70%
    }
}





.frame_work_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 12px 12px 12px 0;
}

.frame_work_container>div {
    display: block;
    width: 33%;
}

.frame_work_container>div>select {
    display: block;
    width: 100%;
}

.margin_top_p_tag {
    margin-top: 12px;
}

.submit_btn {
    color: #333333;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    display: inline-block;
    background-color: #efefef;
    padding: 12px 20px;

}

.submit_btn:hover {
    background-color: #2a72ff;
    color: #eeeeee;
}

.cancel_btn{
    color: #333333;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    border: 1px;
    display: inline-block;
    background-color: #efefef;
    padding: 12px 20px;
    margin-right: 12px;
}

.cancel_btn:hover{
    background-color: #c1a6a6;
}

.quill_content {
    margin-bottom: 24px;
}

.Main_container_box {

    width: 80%;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4%;
}

.button_group{
    display: flex;
    justify-content: end;
}

.Main_container form>h4{
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
}

.second_block>div>h4{
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
}

.react-datepicker__input-container{
    margin-bottom: 24px;
}


