.Tip_content_box1 {
    width: 60%;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4%;
}

.Tip_content_box2 {
    width: 80%;
    background-color: #ffffff;

}

/* .Tip_content_box_font {

    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 7%;
} */

.Tip_button_box {

    margin-top: 2%;
    text-align: right;
}



.Tip_button_container {

    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    border: 0px;
    padding: 12px 20px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.Tip_space_box {

    display: inline-block;
    margin-right: 3%;
}

.Tip_content_box2 h4 {

    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.Tip_content_box_font h2 {

    font-size: 24px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 16px;
    margin: 16px 0;
}